@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 50vh, left 50vw top 50vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: hsl(0, 0%, 59%);
  margin-top: 0.4rem;
}

span {
  font-weight: 500;
  color: hsl(227, 10%, 46%);
}

main {
  background-color: white;
  border-radius: 1rem;
}

.card .card-top img {
  border-radius: 1rem 1rem 0 0;
}

.card .card-bottom {
  text-align: center;
}

.card .card-bottom .profileimage {
  margin-top: -3.5rem;
}

.card .card-bottom .profileimage img {
  border: 5px solid white;
  border-radius: 50%;
}

.card .card-bottom .intro {
  padding: 1.3rem;
}

main .stat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.7rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
